
 background-color: #fff;
    padding: 20px;
    text-align: left;
}

#contact h2 {
    color: #dc3545;
    margin-bottom: 15px;
}

#contact p {
    margin-bottom: 10px;
}

/* Hover Effects */
#services li:hover,
#contact p:hover {
    color: #0056b3;
    cursor: pointer;
}

/* Responsive Design Adjustments */
@media screen and (max-width: 768px) {
    #services, #about, #contact {
        text-align: center;
    }

    #services ul {
        list-style-type: none;
        padding: 0;
    }
}

